In [2]:
import pandas as pd

In [18]:
df = pd.read_csv(r'D:\MitStudy\Machine_Learning_Tutorial_and_exercise\Prectice\titanic\Titanic.csv')

In [19]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 'columns', inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [21]:
target = df.Survived
inputs = df.drop('Survived',axis = 'columns')

In [22]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [24]:
inputs = pd.concat([inputs,dummies],axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male  female  male
0       3    male  22.0   7.2500       0     1       0     1
1       1  female  38.0  71.2833       1     0       1     0
2       3  female  26.0   7.9250       1     0       1     0
3       1  female  35.0  53.1000       1     0       1     0
4       3    male  35.0   8.0500       0     1       0     1

In [26]:
inputs.drop('Sex', axis='columns', inplace = True)
inputs.head(3)

   Pclass   Age     Fare  female  male  female  male
0       3  22.0   7.2500       0     1       0     1
1       1  38.0  71.2833       1     0       1     0
2       3  26.0   7.9250       1     0       1     0

In [27]:
inputs.columns[inputs.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [35]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())
inputs.head(5)

   Pclass   Age     Fare  female  male  female  male
0       3  22.0   7.2500       0     1       0     1
1       1  38.0  71.2833       1     0       1     0
2       3  26.0   7.9250       1     0       1     0
3       1  35.0  53.1000       1     0       1     0
4       3  35.0   8.0500       0     1       0     1

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [38]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [40]:
model.fit(X_train, y_train)

GaussianNB()

In [41]:
model.score(X_test, y_test)

0.851145038167939

# Email is Spam or Ham

In [49]:
data = pd.read_csv('D:\MitStudy\Machine_Learning_Tutorial_and_exercise\Prectice\EmailSpam.csv', encoding = 'latin-1')
data.head()

,Type,Subject,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [50]:
data.columns = ['EmailType','Subject','extr1','extr2','extr3']
data.head(3)

,EmailType,Subject,extr1,extr2,extr3
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [51]:
data.drop(['extr1','extr2','extr3'], axis = 'columns', inplace=True)
data.head()

  EmailType                                            Subject
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...

In [52]:
data.groupby('EmailType').describe()

          Subject                                                            \
            count unique                                                top
EmailType
ham          4825   4516                             Sorry, I'll call later
spam          747    653  Please call our customer service representativ...


          freq
EmailType
ham         30
spam         4

In [53]:
# converting 'EmailType' and 'Subject' into number, as the Machine Learning did not work on other then number value data

In [54]:
data['spam']=data['EmailType'].apply(lambda x: 1 if x=='spam' else 0)
data.head()

  EmailType                                            Subject  spam
0       ham  Go until jurong point, crazy.. Available only ...     0
1       ham                      Ok lar... Joking wif u oni...     0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3       ham  U dun say so early hor... U c already then say...     0
4       ham  Nah I don't think he goes to usf, he lives aro...     0

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.Subject,data.spam,test_size = 0.25)

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [57]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [59]:
emails = ['New update - F&F dues clearance - July payroll', '60 mins to go | Fundamentals of Data Science (Masterclass)']
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 0], dtype=int64)

In [60]:
X_test_count = v.transform(X_test)

In [61]:
model.score(X_test_count,y_test)

0.9877961234745154