In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\MitStudy\Machine_Learning_Tutorial_and_exercise\Prectice\car_evaluation\car.data')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [11]:
df.columns = ['buying', 'maint', 'door', 'persons', 'lug_boot', 'safety', 'target']

In [28]:
df.tail(30)

     buying maint   door persons lug_boot safety target
1697    low   low      4    more      big    low  unacc
1698    low   low      4    more      big    med   good
1699    low   low      4    more      big   high  vgood
1700    low   low  5more       2    small    low  unacc
1701    low   low  5more       2    small    med  unacc
1702    low   low  5more       2    small   high  unacc
1703    low   low  5more       2      med    low  unacc
1704    low   low  5more       2      med    med  unacc
1705    low   low  5more       2      med   high  unacc
1706    low   low  5more       2      big    low  unacc
1707    low   low  5more       2      big    med  unacc
1708    low   low  5more       2      big   high  unacc
1709    low   low  5more       4    small    low  unacc
1710    low   low  5more       4    small    med    acc
1711    low   low  5more       4    small   high   good
1712    low   low  5more       4      med    low  unacc
1713    low   low  5more       4      med    med   good
1714    low   low  5more       4      med   high  vgood
1715    low   low  5more       4      big    low  unacc
1716    low   low  5more       4      big    med   good
1717    low   low  5more       4      big   high  vgood
1718    low   low  5more    more    small    low  unacc
1719    low   low  5more    more    small    med    acc
1720    low   low  5more    more    small   high   good
1721    low   low  5more    more      med    low  unacc
1722    low   low  5more    more      med    med   good
1723    low   low  5more    more      med   high  vgood
1724    low   low  5more    more      big    low  unacc
1725    low   low  5more    more      big    med   good
1726    low   low  5more    more      big   high  vgood

In [13]:
features = df.drop('target',axis = 'columns')

In [14]:
labels = df['target']

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le_buying = LabelEncoder()
le_maint = LabelEncoder()
le_door = LabelEncoder()
le_persons = LabelEncoder()
le_lug_boot = LabelEncoder()
le_safety = LabelEncoder()

In [17]:
features['buying_v'] = le_buying.fit_transform(features['buying'])
features['maint_v'] = le_buying.fit_transform(features['maint'])
features['door_v'] = le_buying.fit_transform(features['door'])
features['persons_v'] = le_buying.fit_transform(features['persons'])
features['lug_boot_v'] = le_buying.fit_transform(features['lug_boot'])
features['safety_v'] = le_buying.fit_transform(features['safety'])

In [18]:
features.head()

,buying,maint,door,persons,lug_boot,safety,buying_v,maint_v,door_v,persons_v,lug_boot_v,safety_v
0,vhigh,vhigh,2,2,small,med,3,3,0,0,2,2
1,vhigh,vhigh,2,2,small,high,3,3,0,0,2,0
2,vhigh,vhigh,2,2,med,low,3,3,0,0,1,1
3,vhigh,vhigh,2,2,med,med,3,3,0,0,1,2
4,vhigh,vhigh,2,2,med,high,3,3,0,0,1,0

In [31]:
inputs = features.drop(['buying','maint','door', 'persons', 'lug_boot', 'safety'], axis = 'columns')
inputs.tail(3)

      buying_v  maint_v  door_v  persons_v  lug_boot_v  safety_v
1724         1        1       3          2           0         1
1725         1        1       3          2           0         2
1726         1        1       3          2           0         0

In [21]:
from sklearn import tree

In [22]:
model = tree.DecisionTreeClassifier()

In [23]:
model.fit(inputs,labels)

DecisionTreeClassifier()

In [25]:
model.score(inputs,labels)

1.0

In [30]:
model.predict([[1,1,3,2,0,0]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['vgood'], dtype=object)

In [35]:
features.tail(3)

,buying,maint,door,persons,lug_boot,safety,buying_v,maint_v,door_v,persons_v,lug_boot_v,safety_v
1724,low,low,5more,more,big,low,1,1,3,2,0,1
1725,low,low,5more,more,big,med,1,1,3,2,0,2
1726,low,low,5more,more,big,high,1,1,3,2,0,0

In [33]:
inputs.tail(3)

      buying_v  maint_v  door_v  persons_v  lug_boot_v  safety_v
1724         1        1       3          2           0         1
1725         1        1       3          2           0         2
1726         1        1       3          2           0         0

In [36]:
model.predict([[3,1,2,1,0,1]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['unacc'], dtype=object)